Project 3 - Weather Forecast API.json
[{"id":"89006173.3c22f","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"d37cc53a.c2df68","type":"http request","z":"89006173.3c22f","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":240,"wires":[["ae79c6f.afc3038","c9ea4175.f64fc"]]},{"id":"c6143c48.ded9","type":"inject","z":"89006173.3c22f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":240,"wires":[["ea4271a3.5d7c3"]]},{"id":"788a5186.ae47d","type":"function","z":"89006173.3c22f","name":"HTTP content","func":"msg.url = \"https://api.met.gov.my/v2/locations?locationcategoryid=DISTRICT&offset=\" + msg.payload;\nmsg.headers = {\n    \"Authorization\" : \"METToken beee7ef1300156dd56a04b1bb8759634633af0c8\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":240,"wires":[["d37cc53a.c2df68"]]},{"id":"ae79c6f.afc3038","type":"debug","z":"89006173.3c22f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1130,"y":180,"wires":[]},{"id":"dfbb0643.58bfc8","type":"counter","z":"89006173.3c22f","name":"","init":"0","step":"50","lower":null,"upper":"150","mode":"increment","outputs":2,"x":580,"y":240,"wires":[["788a5186.ae47d","2c122fad.560bd"],[]]},{"id":"ea4271a3.5d7c3","type":"trigger","z":"89006173.3c22f","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-500","extend":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":380,"y":240,"wires":[["dfbb0643.58bfc8"]]},{"id":"2c122fad.560bd","type":"switch","z":"89006173.3c22f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"150","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":380,"wires":[["527c8acb.9b0214"]]},{"id":"527c8acb.9b0214","type":"change","z":"89006173.3c22f","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":380,"wires":[["ea4271a3.5d7c3","dfbb0643.58bfc8"]]},{"id":"c9ea4175.f64fc","type":"function","z":"89006173.3c22f","name":"Aggregate","func":"var districtData = flow.get(\"districtData\");\nvar results = msg.payload.results;\nfor (var i=0;i<results.length;i++) {\n    districtData.push(results[i]);\n}\nflow.set(\"districtData\",districtData);\nmsg.payload = districtData;\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"districtData\",[]);","finalize":"","x":1120,"y":240,"wires":[["ddae1535.dddfa8"]]},{"id":"ddae1535.dddfa8","type":"debug","z":"89006173.3c22f","name":"After aggregation","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1330,"y":240,"wires":[]},{"id":"1cb18b42.221a35","type":"ui_dropdown","z":"89006173.3c22f","name":"","label":"","tooltip":"","place":"Select option","group":"660a70f8.796a2","order":1,"width":12,"height":1,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"","x":620,"y":500,"wires":[["93e313.2712acf","b3fad0b2.b7e6e"]]},{"id":"39efea83.5b96b6","type":"inject","z":"89006173.3c22f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":270,"y":500,"wires":[["95bf4f8f.c58dd"]]},{"id":"95bf4f8f.c58dd","type":"function","z":"89006173.3c22f","name":"Generate Options","func":"var districtData = flow.get(\"districtData\");\nvar districtName = [];\nfor (var i=0;i<districtData.length;i++) {\n    districtName.push(districtData[i].name);\n}\nmsg.options = districtName;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":500,"wires":[["1cb18b42.221a35"]]},{"id":"93e313.2712acf","type":"debug","z":"89006173.3c22f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":820,"y":500,"wires":[]},{"id":"b3fad0b2.b7e6e","type":"function","z":"89006173.3c22f","name":"Find","func":"var districtData = flow.get(\"districtData\");\nvar selectedOption = districtData.find(e => e.name === msg.payload);\nmsg.payload = selectedOption;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":620,"wires":[["de5bf2cf.87115","58e2b043.837c1","f73f7edd.ffe44"]]},{"id":"de5bf2cf.87115","type":"debug","z":"89006173.3c22f","name":"selectedOption","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":980,"y":540,"wires":[]},{"id":"9b44f671.c02b48","type":"ui_worldmap","z":"89006173.3c22f","group":"660a70f8.796a2","order":2,"width":12,"height":6,"name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","path":"/worldmap","x":1000,"y":760,"wires":[]},{"id":"58e2b043.837c1","type":"function","z":"89006173.3c22f","name":"Mapping","func":"var name =  msg.payload.name;\nvar lat = msg.payload.latitude;\nvar lon = msg.payload.longitude;\n\nmsg.payload = {\n    \"name\" : name,\n    \"lat\" : lat ,\n    \"lon\" : lon,\n    \"command\" : {\n        \"lat\": lat ,\n        \"lon\": lon,\n        \"zoom\": 13\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":760,"wires":[["9b44f671.c02b48"]]},{"id":"f73f7edd.ffe44","type":"function","z":"89006173.3c22f","name":"Extract Relevant Info","func":"var date = new Date();\nvar dateString = date.toISOString();\nvar dateToday = dateString.split(\"T\");\n\nmsg.payload = {\n    id: msg.payload.id,\n    date: dateToday[0]\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":620,"wires":[["7ad029e.466bcd8","44dd39d0.ec4f78"]]},{"id":"7ad029e.466bcd8","type":"debug","z":"89006173.3c22f","name":"For Forecast","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1250,"y":620,"wires":[]},{"id":"44dd39d0.ec4f78","type":"function","z":"89006173.3c22f","name":"HTTP content","func":"var id = msg.payload.id;\nvar date = msg.payload.date;\nmsg.headers = {\n    \"Authorization\" : \"METToken beee7ef1300156dd56a04b1bb8759634633af0c8\"\n};\n\nmsg.url = \"https://api.met.gov.my/v2/data?datasetid=FORECAST&datacategoryid=GENERAL&locationid=\"+ id + \"&start_date=\"+ date + \"&end_date=\" + date;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":680,"wires":[["d1be8dde.c7628"]]},{"id":"d1be8dde.c7628","type":"http request","z":"89006173.3c22f","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1430,"y":680,"wires":[["701843d4.e7c40c","a6d45d0f.43686"]]},{"id":"701843d4.e7c40c","type":"debug","z":"89006173.3c22f","name":"Forecast Request","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1610,"y":620,"wires":[]},{"id":"a6d45d0f.43686","type":"function","z":"89006173.3c22f","name":"For Display","func":"var results = msg.payload.results;\nvar morning = results[0].value;\nvar afternoon = results[1].value;\nvar night = results[2].value;\nvar minTemp = results[3].value;\nvar maxTemp = results[4].value;\n\nvar msg1 = {\n    payload: morning\n}\n\nvar msg2 = {\n    payload: afternoon\n}\n\nvar msg3 = {\n    payload: night\n}\n\nvar msg4 = {\n    payload: minTemp\n}\n\nvar msg5 = {\n    payload: maxTemp\n}\n\nreturn [msg1,msg2,msg3,msg4,msg5];","outputs":5,"noerr":0,"initialize":"","finalize":"","x":1630,"y":720,"wires":[["73a85e0a.8fe62"],["5d746776.3db368"],["ac1ce2cb.4654"],["818f82e2.4d7"],["e6a03196.7fee7"]]},{"id":"73a85e0a.8fe62","type":"ui_text","z":"89006173.3c22f","group":"660a70f8.796a2","order":3,"width":4,"height":1,"name":"","label":"Morning","format":"{{msg.payload}}","layout":"col-center","x":1860,"y":600,"wires":[]},{"id":"5d746776.3db368","type":"ui_text","z":"89006173.3c22f","group":"660a70f8.796a2","order":4,"width":4,"height":1,"name":"","label":"Afternoon","format":"{{msg.payload}}","layout":"col-center","x":1860,"y":660,"wires":[]},{"id":"ac1ce2cb.4654","type":"ui_text","z":"89006173.3c22f","group":"660a70f8.796a2","order":5,"width":4,"height":1,"name":"","label":"Night","format":"{{msg.payload}}","layout":"col-center","x":1850,"y":720,"wires":[]},{"id":"818f82e2.4d7","type":"ui_gauge","z":"89006173.3c22f","name":"","group":"660a70f8.796a2","order":6,"width":6,"height":4,"gtype":"gage","title":"Minimum Temperature","label":"Celcius","format":"{{value}}","min":"20","max":"1035","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1900,"y":780,"wires":[]},{"id":"e6a03196.7fee7","type":"ui_gauge","z":"89006173.3c22f","name":"","group":"660a70f8.796a2","order":7,"width":6,"height":4,"gtype":"gage","title":"Maximum Temperature","label":"Celcius","format":"{{value}}","min":"25","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1900,"y":840,"wires":[]},{"id":"660a70f8.796a2","type":"ui_group","z":"","name":"Weather Forecast","tab":"7496fc9a.24b404","order":1,"disp":true,"width":12,"collapse":false},{"id":"7496fc9a.24b404","type":"ui_tab","z":"","name":"Weather Forecast (EITA 2-2)","icon":"dashboard","order":12,"disabled":false,"hidden":false}]